node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
dist/
*.log

# Gradle
android/app/build/

# Android
.idea
.gradle
local.properties
*.iml

# macOS
.DS_Store
ios/Pods

# Locks 
yarn.lock
package-lock.json

# Visual studio
.vscode
.vs